<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>

      </ul>
      <div class="d-flex ">
        <button *ngIf="!(login$ | async)"  class="me-2 px-5 py-4" mat-raised-button  routerLink="/sign-in">Sign in</button>
        <button *ngIf="!(login$ | async)"  class="me-2 px-5 py-4" mat-raised-button routerLink="/sign-up" color="primary">Sign up</button>
      </div>

        <div class="profile-icon " *ngIf="login$ | async"  [routerLink]="authService.isUserAdmin()?['admin/dashboard']:['users',currentUser$ |async]">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-25" height="24" width="22" viewBox="0 0 448 512">
            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
            </svg>
          </span>
          <span class="ms-1 me-3">{{currentUser$ |async}}</span>
        </div>
          <div class=" text-end">
            <button class=""  *ngIf="login$  | async" (click)="authService.logOut()" mat-raised-button color="warn">logOut</button>
          </div>
    </div>
  </div>
</nav>
